.dialog {
    background: #232323;
}
.dialog_header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.dialog_header > h2 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 49px;

    letter-spacing: 1px;
    text-transform: uppercase;

    color: #ffffff;
}
.dialog_header > button {
    background: #232323;

    border: none;
    width: 40px;
    height: 40px;
    color: #ffffff;
}
.deleteMovie {
    display: grid;
    background: #232323;
    color: #ffffff;
    padding: 60px;
    margin: 0 auto;
}
.deleteMovie > button {
    height: 57px;
    width: 180px;
    border-radius: 4px;
    background: #f65261;
    border: 1px solid #f65261;
    color: #ffffff;
    font-size: 20px;
}

.content {
    width: 1200px;
    margin: 0 auto;
}
