html > body {
  font-family: "Montserrat-Regular", sans-serif;
  background: #555555;
  height: auto;
  margin: 0 auto;
}
p {
  margin: 0;
  font-family: "Montserrat";
}

.App {
  margin: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  background-color: content-box;
  
}

